{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}
	<!-- Body -->



		<!-- Bloc -->
		<div class="bloc_connexion">
			<div class="container" style="padding:35px">


			<?php

				// Sécurité au cas où l'utilisateur est deja connecté
				if(isset($_SESSION['user_id'])){

					echo'Vous êtes dejà connecté';

					exit();
				}


				// Si la variable de l'input hidden ne vaut pas oui, on affiche le formulaire
				if($_GET['connexion_ok'] != 'oui'){

					?>

{% if error %}
	<div>{{ error.message }}</div>
{% endif %}


				<div class="col-md-6">
					<form id="formulaire" action="{{ path('login_check') }}" method="post">
						<fieldset>
							<legend><h4>Connexion</h4></legend>

								<div>
									<label for="email" class="email">Adresse mail</label><br/>
									<input type="email" name="_username" placeholder="exemple@batmania.fr" id="email_connexion" value="{{ last_username }}" required/><br/><br/>
								</div>

								<div>
									<label for="pass" class="pass">Entrez votre mot de passe</label><br/>
									<input type="password" name="_password" id="pass_connexion" required/><br/><br/>
								</div>

						{#
							Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
							(plus de détails ci-dessous)
							<input type="hidden" name="_target_path" value="/account" />
						#}

						<input type="submit" value="Connexion"/>

						<p><a href="#">Mot de passe oublié?</a></p>
						<p>Pas encore de compte ? <a href="{{ path('inscription') }}">Inscrivez-vous</a>.</p>
						</fieldset>
					</form>
				</div>
					<!-- 						<form name="connexion" id="connexion" method="post" action="login">


								<label for="pseudo" class="float">Votre adresse e-mail</label>
								<input type="text" name="mail" id="mail" /><br/>

								<label for="mdp">Mot de passe :</label>
								<input type="password" name="mdp" id="mdp"/><br/>-->

								<!-- Champs caché qui vérifie que le formulaire à été rempli lors du traitements -->
								<!--<input type="hidden" name="connexion_ok" id="connexion_ok" value="oui"/>


								<input type="submit" value="Connexion" />

						</form> -->
					<?php

				}



				// Sinon, on procède à la verification de l'identité, l'authentification et à la création des variables
				else{



				}


			?>

			</div>
		</div>
		<!-- Fin Bloc -->
{% endblock %}
