<!DOCTYPE html>
<html lang="fr">
    <head>


        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <meta charset="utf-8">
        <title>Batmania - Administration</title>

        <!-- Feuilles de style -->
        <link rel="stylesheet" href="{{ asset('bundles/novifyback/css/style.css')}}"/>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" href="#" sizes="32x32">
        <link rel="icon" href="#" sizes="64x64">

        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    </head>
{% block body %}

    <body>
{% block header %}
        <!-- Header -->


        <header>            
            <p>BATMANIA</p>  
        </header>
        <!-- Fin Header -->



        <section>  
                
            <!-- Barre de navigation du backoffice -->
            <aside>
                   <ul>
                        <li><a href="">Tableau de bord</a></li>
                        <li><a href="">Catégories</a></li>
                        <li><a href="">Sous catégories</a></li>
                        <li><a href="">Produits</a></li>
                        <li><a href="">Clients</a></li>
                        <li><a href="">Commandes</a></li>
                   </ul>
            </aside>



{% endblock %}
{% block main %}
{% endblock %}

 </section> <!-- Fin page -->


{% block footer %}
    <!-- Footer -->
    <footer>

            
    </footer>
    <!-- Fin Footer -->
{% endblock %}

    <!-- Fin Body -->
    </body>
{% endblock %}
</html>

