{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




    <article>
        <div class="container">
            <h1>Modifer un article</h1>
            
			{{ form(form) }} <!-- Génère le formulaire automatiquement-->

        </div>
    </article>




{% endblock %}
