body {
	margin: auto;
	background: url(../images/bg.png) no-repeat center fixed;
	background-size: cover;
	background-position: fixed;
}

header {
	background-color: #000000;
}

.logo img {
	width: 10%;
}

.client {
	float: right;
}

.client img {
	width: 8%;
	padding-right: 5px;
	padding-left: 10px;
}

.client a {
	color: #FFFFFF;
}

nav ul li {
	padding-right: 10px;
	display: inline;
}

nav ul li a {
	color: #FFFFFF;
}

.carousel img {
	width: 100%;
}

.bloc {
	margin-top: 2%;
	margin-bottom: 2%;
}

.col-lg-6 {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.col-lg-4 {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.col-lg-12 {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.news {
	border: 1px solid #FFFFFF;
	height: 200px;
	background-color: #d5433c;
}

.top_ventes {
	border: 1px solid #FFFFFF;
	height: 415px;
	background-color: #3cb6d5;
}

.comics {
	border: 1px solid #FFFFFF;
	height: 200px;
	background-color: #3cd55d;
}

.film {
	border: 1px solid #FFFFFF;
	height: 200px;
	background-color: #f94cff;
}

footer {
	width: 100%;
	text-align: center;
}