/***************************
	MISE EN PAGE GÉNÉRALE
**************************/
body {
	margin: auto;
	background: url('../images/bg.png') no-repeat center fixed;
	background-size: cover;

	font-family: "Open Sans";
	font-weight: 500;
	font-size: 14px;
	text-align: left;
}

h1, h2, h3, h4, h5, h6{
	text-align: left;
	font-size: 14px;
	font-weight: 300;

	margin:0;
	padding:0;

}

p {
	text-align: left;
}


a {
	color: inherit;
}

a:hover {

	color:inherit;
	text-decoration: none;
}

a:focus{color:inherit;text-decoration:none;}

/*-- Fenêtre Pop-up --*/
.white-popup {
	position: relative;
  	padding: 30px;
  	width: auto;
  	max-width: 550px;
  	margin: 20px auto;
	height: auto;
	color: #2f3036;
	font-size: 16px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid;
}
/*----*/

.row{margin:0;padding:0;}


/*-FIN MISE EN PAGE GENERALE-*/

/***************************
	HEADER
**************************/

header {
	background-color: #1a465c;
}

#barre_rs {
	background-color: #2f3036;
	text-align: left;
	color: #FFF;
	font-size: 14px;
	padding: 10px;
}

header #barre_rs .langue img {
	width: 18px;
}

header #barre_rs .langue {
	display: inline;
}

header #barre_rs .rs {
	float: right;
	margin-top: -5px;
}

header #barre_rs .rs img {
	width: 30px;
}

header #barre_rs .facebook {

	background-image: url('../images/pictogrammes/fb.png');
	background-size: 30px;
	float:right;
	margin-right: 5px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

header #barre_rs .twitter {

	background-image: url('../images/pictogrammes/tw.png');
	background-size: 30px;
	float:right;
	margin-right: 5px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

header #barre_rs .pinterest {

	background-image: url('../images/pictogrammes/p.png');
	background-size: 30px;
	float:right;
	margin-right: 5px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

header #barre_rs .instagram {

	background-image: url('../images/pictogrammes/in.png');
	background-size: 30px;
	float:right;
	margin-right: 5px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

header #barre_rs .facebook:hover {
	background-image: url('../images/pictogrammes/fb_gris.png');
	background-size: 30px;
}

header #barre_rs .twitter:hover {
	background-image: url('../images/pictogrammes/tw_gris.png');
	background-size: 30px;
}

header #barre_rs .pinterest:hover {
	background-image: url('../images/pictogrammes/p_gris.png');
	background-size: 30px;
}

header #barre_rs .instagram:hover {
	background-image: url('../images/pictogrammes/in_gris.png');
	background-size: 30px;
}

header .container {
	padding: 10px 0;
}

header .container .logo {
}

header .container .logo img {
	width: 90%;
}

header .container .rechercher{
	padding: 0 20px;
}

header .container .rechercher input{
	color:black;
	width: 100%;
	margin-top: 30px;
}

header .header_client {
	display: inline;
	color: #FFFFFF;
	font-size: 18px;
}
header .panier, header .compte{

	padding-top: 30px;
}

header .compte{

	text-align:right;
}

header .sous_texte {
	margin-left: 25px;
	display: block;
	font-size: 11px;
}

header .sous_texte_panier {
	margin-left: 25px;
	display: block;
	font-size: 15px;
	color:#4f9649
}

header .sous_texte_connecte {
	margin-left: 60px;
	display: none;
	font-size: 11px;
}

header .header_client img {
	display:inline;
	width: 43px;
	padding-right: 5px;
	padding-left: 10px;
}

header .header_client #bulle {
	text-align: center;
}

header .header_client .boutton {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background-color: #e2c879;
	border-radius: 0px;
	border: 0px solid #ab0000;
	cursor: pointer;
	width: 130px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.25s;
}

header .header_client .boutton:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}


header .header_client .compte #bulle_compte {display: none;} 
header .header_client .panier #bulle_panier {display: none;}



header .header_client .compte a:hover #bulle_compte { 
	color: #2f3036;
	font-size: 16px;
	padding: 20px;
	z-index: 9999;
	text-align: center;
	overflow: visible;
	opacity: 1;
	display: block;
	position: absolute;
	background: #f3f3f3;
	width: 260px; 
	height: auto;
	border-radius: 10px;
}

header .header_client .panier a:hover #bulle_panier { 
	color: #2f3036;
	font-size: 16px;
	padding: 20px;
	z-index: 9999;
	text-align: center;
	overflow: visible;
	opacity: 1;
	display: block;
	position: absolute;
	background: #f3f3f3;
	width: auto; 
	height: auto;
	border-radius: 10px;
}

header nav img {
	display: none;
}

#bulle_compte:after, #bulle_compte:before {
	right: 50%;
	border: solid transparent; 
	content: "";
	position: absolute;
}

#bulle_compte:after {
	border-bottom-color: #f3f3f3;
	border-width: 13px;
	margin-top: -133px;
}

#bulle_panier:after, #bulle_compte:before {
	right: 15%;
	border: solid transparent; 
	content: "";
	position: absolute;
}

#bulle_panier:after {
	border-bottom-color: #f3f3f3;
	border-width: 13px;
	margin-top: -220px;
	right: 45%;
}

#bulle {
	border-bottom-color: #f3f3f3;
	border-width: 16px;
	margin-top: -220px;
}

#bulle_compte p {display: inline;}
#bulle_panier p {display: inline;}

.faux_liens {
	font-size: 14px;
	color: #3781b2;
	text-decoration: underline;
}

.prix {
	color: #4f9649;
	font-size: 22px;
	font-weight: 400;
	padding: 5px;
}

header .container .col-xs-12  {text-align:center;}
/***************************
	NAV
**************************/
nav {
	z-index: 9998;
	height: 3.50em;
}

nav #menu{	padding-left: 9%;
	background-color: rgba(243,245,255,0.95);
	background-image: url('../images/overlay.png');
	width: 100%;
}	
nav a:hover {
	color: #FFF;
	z-index: 9998;
}




nav .sticky li a{color:white;}

/*.fix_menu {
	z-index: 9998;
	position: fixed;
	top: 0;
	width: 100%;
}*/

.compte_fix {
	display: none;
}

/*Style du menu à la vertical*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1000;
}

/*Style du menu à l'horizontal*/
li {
	display:inline-block;
	float: left;
	z-index: 9998;
}

/*Style pour les liens*/
li a {
	display: block;
	min-width: 160px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #2f3036;
	text-decoration: none;
	z-index: 9998;
}

li.actif a {
	background: #1a465c;
	color: #fff;
	z-index: 9998;
}

/*Style pour les liens au survol de la souris*/
li:hover a {
	background: #dabb5b;
	z-index: 9998;
}

/*Style pour les sous-liens*/
li:hover ul a {
	background: #f3f3f3;
	color: #1a465c;
	height: 40px;
	line-height: 40px;
	z-index: 9998;
}

/*Style pour les sous-liens au survol de la souris*/
li:hover ul a:hover {
	background: #dabb5b;
	color: #fff;
	z-index: 9998;

}

/*pour ne pas afficher les liens qui sont inutile*/
li ul {
	display: none;
	z-index: 9998;
}

/*Apparition des sous-liens*/
li ul li {
	display: block;
	float: none;
	z-index: 9998;
}

/*Style des sous-liens*/
li ul li a {
	width: auto;
	min-width: 160px;
	padding: 0 20px;
	z-index: 9998;

}

/*style des sous-liens*/
ul li a:hover + .survol, .survol:hover {
	display: block;
	z-index: 9998;
}

/*Style 'show menu' pour Ipad et Iphone*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #095273;
	text-align: center;
	padding: 10px 0;
	display: none;
	z-index: 9998;
}

/*Checkbox*/
nav input[type=checkbox]{
    display: none;
}

/*Checkbox sous les 760px*/
nav input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*-FIN NAV-*/
/*-FIN HEADER-*/

/***************************
	BODY
**************************/

#carrousel {
	margin-bottom: 50px;
	width: 100%;
}

#carrousel #box { 
	position: relative; 
	width: 100%;  
	height: 250px;
	margin: 0 auto; 
	overflow: hidden; 
}

#carrousel #box .slide { 
	display: block;
	position: absolute; 
	width: 100%;  
	height: 100%;
	display: inline-block; 
}

#carrousel #box .slide img { 
	display:block;
	position: absolute; 
	width: 100%;  
	height: auto;
	display: inline-block; 
}



.bloc {
	margin-top: 60px;
	margin-bottom: 2%;
}

.bloc .col-md-6 {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.bloc .col-md-4 {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.bloc .col-md-8 {
	padding-left: 0px;
	padding-right: 0px;
}

.bloc .col-md-12 {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.news {
	border: 1px solid #FFFFFF;
	height: 200px;
	background: url('../images/news.jpg');
	background-size: cover;
}

.top_ventes {
	border: 1px solid #FFFFFF;
	height: 415px;
	background: url('../images/top.jpg');
	background-size: cover;
}

.coupcoeur {
	border: 1px solid #FFFFFF;
	height: 200px;
	background: url('../images/coeur.jpg');
	background-size: cover;
}

.promo {
	border: 1px solid #FFFFFF;
	height: 200px;
	background: url('../images/promos.jpg');
	background-size: cover;
}

.news p, .coupcoeur p, .promo p, .top_ventes p {
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	opacity: 0.50;
	padding: 10px;
}

.news p {
	color:rgb(170,170,170);
	font-size: 60px;
	text-align: left;
	padding-top: 60px;
}

.coupcoeur p {
	font-size: 32px;
	text-align: left;
}

.promo p {
	margin-top: 7px;
	font-size: 49px;
	text-align: right;
}

.top_ventes p {
	color:rgb(170,170,170);
	margin-top: 0;
	font-size: 42px;
	text-align: center;
}

/*-FIN BODY-*/









/***************************
	Catalogue
**************************/


.banniere_catalogue{

	position: relative;
	z-index: -1;
}


.banniere_catalogue img{

	width: 100%;
}

.banniere_catalogue h1{

	position: absolute;
	bottom:40px;
	left:0;

	font-size: 40px;
	text-transform: uppercase;
	font-weight: 300;
	padding:5px 10px 5px 15px;

	color: rgb(35,35,35);
	background-color: rgba(255,255,255,0.6);
}



#bloc_catalogue .container{

	background-color: rgba(255,255,255,1);
}

#bloc_catalogue .container .barre_tri{

	padding: 0 50px;
	margin: 30px 0;
}

#bloc_catalogue .container .pagination{

	text-align:right;
}

#bloc_catalogue .container .pagination a{

}

#bloc_catalogue .container .pagination span{
	/*Lien actuel dans la pagination */
	font-weight: bold;

}


#bloc_catalogue .ligne_articles{

	margin: 30px 0;
}


#bloc_catalogue .container .col-md-3{

	padding: 0px;
}


#bloc_catalogue .container .article{

	padding: 0 60px;
}


#bloc_catalogue .container .article .article_image{

	height: 300px;
}


#bloc_catalogue .container .article .article_image img{

	height: 100%;
}

#bloc_catalogue .container .article h5{
	/*Nom article*/
	text-transform : uppercase;
	font-size: 16px;
}


#bloc_catalogue .container .article p{
	/*Prix*/
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

/* -------- */





/***************************
	FICHE PRODUIT
**************************/


#bloc_ficheproduit{
	

}



#bloc_ficheproduit #bloc_produit{
	
	background-color: white;

	padding: 50px;

}


#bloc_ficheproduit #bloc_produit h2{
	
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;

}

#bloc_ficheproduit #bloc_produit h3{
	
	color: #e2c879;
	font-size: 24px;
	font-weight: 400;

}

#bloc_ficheproduit #bloc_produit #ref_ficheproduit{
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color:gray;
}

#bloc_ficheproduit .container .image_ficheproduit{

}


#bloc_ficheproduit .container .image_ficheproduit img{

	width: 90%;
}




#bloc_ficheproduit #bloc_produit .description_ficheproduit{
	font-weight: 300;

}


#bloc_ficheproduit #bloc_produit .prix_ficheproduit{
	
	font-size: 45px;
	font-weight: bold;

}

#bloc_ficheproduit #bloc_produit .dispo_ficheproduit{
	
	font-size: 18px;
	display: inline;

}

#bloc_ficheproduit #bloc_produit .variable_dispo {
	
	font-size: 20px;
	font-weight: bold;
	display: inline;
	color: #4f9649;
	padding-left: 5px;

}

#bloc_ficheproduit #bloc_produit #ajout_panier, #bloc_ficheproduit #bloc_produit #retrait_magasin{
	
	color:white;
	text-transform: uppercase;

	font-size: 26px;
	margin: 20px 0;

}

#bloc_ficheproduit #bloc_produit #ajout_panier a, #bloc_ficheproduit #bloc_produit #retrait_magasin a{
	
	display:block;
	width: 100%;
	height: 100%;
	padding: 10px 10px;


}

#bloc_ficheproduit #bloc_produit #ajout_panier{
	
	background-color: #dabb5b;
	

}


#bloc_ficheproduit #bloc_produit #retrait_magasin{
	
	background: rgb(70,70,70);


}

#bloc_ficheproduit #bloc_produit #ajout_panier:hover{
	
	background-color: #e2c879;
	

}


#bloc_ficheproduit #bloc_produit #retrait_magasin:hover{
	
	background: rgb(90,90,90);


}

#bloc_ficheproduit #bloc_produit p a {
	
	font-weight: 400;
	color: #3781b2;
	text-decoration: underline;

}

#bloc_ficheproduit #bloc_produit #details_produit, #bloc_ficheproduit #bloc_produit #commentaires_article, #bloc_ficheproduit #bloc_produit #suggestions_produits{
	
	border-top: 1px solid #e2c879;

	margin-top: 60px;

}


#bloc_ficheproduit #bloc_produit #details_produit p {
	
	

}



#bloc_ficheproduit #bloc_produit #commentaires_article .bloc_commentaire{

	width: 100%;
	border-top: 1px solid rgb(210,210,210);
	margin-bottom: 30px;
}




#bloc_ficheproduit .ligne_articles{

	margin: 30px 0;
}


#bloc_ficheproduit .container .col-md-3{

	padding: 0px;
}


#bloc_ficheproduit .container .article{

	padding: 0 60px;
}


#bloc_ficheproduit .container .article .article_image{

	height: 300px
}


#bloc_ficheproduit .container .article .article_image img{

	height: 100%;
}

#bloc_ficheproduit .container .article h5{
	/*Nom article*/
	text-transform : uppercase;
	font-size: 16px;
}


#bloc_ficheproduit .container .article p{
	/*Prix*/
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

/* -- pop-up pour la validation d'un produit -- */

	#test-popup #produit_popup .popup_header {
		border-bottom: #dedede 1px solid; 
	}

	#test-popup #produit_popup .popup_header h3 {
		color: #e2c879;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#test-popup #produit_popup .popup_body {
		padding-top: 25px;
	}

	#test-popup #produit_popup .popup_body h4 {
		position: absolute;
		display: inline;
		color: #1a465c;
		font-size: 20px;
		padding-left: 15px;
	}

	#test-popup #produit_popup .popup_body p.prix_produit_popup {
		position: absolute;
		display: inline;
		font-size: 25px;
		font-weight: 700;
		padding-left: 15px;
		padding-top: 20px;
	}

	#test-popup #produit_popup .popup_body p.quantite_produit_popup {
		position: absolute;
		display: inline;
		padding-left: 15px;
		padding-top: 70px;
	}

	#test-popup #produit_popup .popup_body p.confirmation_produit_popup {
		font-size: 20px;
		font-weight: 700;
		color: #4f9649;
	}

	#test-popup #produit_popup .popup_footer {
		padding-top: 10px;
		border-top: #dedede 1px solid;
	}

	#test-popup #produit_popup .popup_footer a {
		display: block;
		text-align: center;
		padding: 10px 5px;
		width: auto;
		color: #fff;
		background-color: #e2c879;
		cursor: pointer;
		-webkit-transform: scale(1);
		transition: all 0.25s;
		text-decoration: none;
	}

	#test-popup #produit_popup .popup_footer a:hover {
	  	-webkit-transform: scale(1.02);
	  	background-color: #f2dc9a;
	}

	#test-popup #produit_popup .popup_footer a.boutique {
		margin-top: 2px;
		background-color: #1a465c;
	}

	#test-popup #produit_popup .popup_footer a.boutique:hover {
	  	background-color: #215975;
	}



/* -- Fin Pop-up -- */

/* -------- */








/***************************
	PANIER
**************************/


#bloc_panier{
	width: 100%;
	background-color: white;
	z-index:-10 !important;
}


#bloc_panier .container{
	padding: 50px 10px;


}

#bloc_panier .container h3{
	
	color: #e2c879;
	font-size: 26px;
	font-weight: 400;


}


#bloc_panier .container table{
	
	margin: 50px 0;
	width: 100%;
}


#bloc_panier .container table thead{
		
		font-weight: 300;
		text-transform: uppercase;
		border-bottom: 1px solid rgb(180,180,180);

}


#bloc_panier .container table tbody{
	
}


#bloc_panier .container table tbody tr{
	
	border-bottom: 1px solid rgb(180,180,180);
}


#bloc_panier .container table tbody tr td{

		padding: 15px 0;
		font-weight: 300;
}


#bloc_panier table img{
	width: 100%;
	padding: 6px;
}

/* -- pop-up pour le panier -- */

	/* -- lien pour ouvrir le pop-up -- */
	#bloc_panier .lien_popup a {
		text-align: center;
		padding: 10px 5px;
		display:block;
		width: 100%;
		height: 100%;
		font-size: 20px;
		color: #fff;
		background-color: #e2c879;
		cursor: pointer;
		-webkit-transform: scale(1);
		transition: all 0.25s;
	}


	#bloc_panier .lien_popup a:hover {
	  	-webkit-transform: scale(1.02);
	  	background-color: #f2dc9a;
	}

	#test-popup #panier_popup .etape2 {display: none;}
	#test-popup #panier_popup .etape3 {display: none;}

	#test-popup #panier_popup a {
		font-size: 14px;
		color: #3781b2;
		text-decoration: underline;
	}

	#test-popup #panier_popup .popup_header {
		padding-bottom: 5px;
		border-bottom: #dedede 1px solid; 
	}

	#test-popup #panier_popup .popup_header h1 {
		text-transform: uppercase;
		font-size:18px;
		margin-bottom:20px;
	}


	#test-popup #panier_popup .popup_header h1 .actif {
		font-weight: bold;	
	}


	#test-popup #panier_popup .popup_body {
		padding: 30px 0;
	}

	#test-popup #panier_popup .popup_body #champ_cache input{
		margin: 5px 0;
	}

	
	#test-popup #panier_popup .popup_header h3 {
		color: #e2c879;
		font-size: 22px;
		font-weight: 400;
	}


	#test-popup #panier_popup .popup_body table {
		margin: 20px 0;
		width: 100%;
	}


	#test-popup #panier_popup .popup_body table thead{
		font-weight: 300;
		text-transform: uppercase;
		border-bottom: 1px solid rgb(180,180,180);
	}

	#test-popup #panier_popup .popup_body table tbody tr {
		border-bottom: 1px solid rgb(180,180,180);
	}

	#test-popup #panier_popup .popup_body table tbody tr td {
			padding: 15px 0;
			font-weight: 300;
	}

	#test-popup #panier_popup .popup_body table img {
		width: 100%;
		padding: 6px;
	}

	#test-popup #panier_popup .popup_footer {
		padding-top: 10px;
		border-top: #dedede 1px solid;
	}

	#test-popup #panier_popup .popup_body a.commandez {
		margin-left: 60%;
		text-align: center;
		padding: 10px 5px;
		display: block;
		width: 190px;
		color: #fff;
		background-color: #e2c879;
		cursor: pointer;
		-webkit-transform: scale(1);
		transition: all 0.25s;
		text-decoration: none;
	}

	#test-popup #panier_popup .popup_body a.commandez:hover {
	  	-webkit-transform: scale(1.02);
	  	background-color: #f2dc9a;
	}

/* ---- */

#bloc_panier .container #panier_total{

	background-color: rgb(240,240,240);
	margin: 30px;
	padding: 20px;
	border-radius: 3px;
	font-size: 16px;
}

#bloc_panier .container #panier_total #sous_total{

	font-size: 25px;
	font-weight: 400;
	color: #4f9649;
}

#bloc_panier .container #suggestions_produits{

	margin-top: 20px;
}

#bloc_panier .container .ligne_articles{

	margin-top: 40px;
}


#bloc_panier .container .article{

	padding: 0 60px;
}


#bloc_panier .container .article .article_image{

	height: 300px;
}


#bloc_panier .container .article .article_image img{

	height: 100%;
}

#bloc_panier .container .article h5{
	/*Nom article*/
	text-transform : uppercase;
	font-size: 16px;
}


#bloc_panier .container .article p{
	/*Prix*/
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

#bloc_panier a.supprimer {
	display: block;
	padding: 5px 10px;
	background-color: #c0392b;
	color: #fff;
	 -webkit-transform: scale(1);
  	transition: all 0.25s;
}

#bloc_panier a.supprimer:hover  {
	background-color: #e74c3c;
	-webkit-transform: scale(1.02);
}

/* -------- */










/***************************
	COMPTE
**************************/


#bloc_compte{
	width: 100%;
	background-color: white;
	z-index:-10 !important;
}


#bloc_compte .container{
	padding: 50px 10px;


}

#bloc_compte .container h3{
	
	color: #e2c879;
	font-size: 26px;
	font-weight: 400;

	margin-bottom:40px;
}


#bloc_compte .container table{
	
	margin: 70px 0;
	width: 100%;
	border-bottom: 1px solid rgb(180,180,180);
}


#bloc_compte .container table thead{
		
		font-weight: 300;
		text-transform: uppercase;
		border-bottom: 1px solid rgb(180,180,180);
}

#bloc_compte .container table thead .commande_numero{
		
		font-weight:400;
		color:#1a465c;  
		font-size:18px;

}

#bloc_compte .container table thead .commande_date{
		
		font-weight: 300;
		color:gray;

}


#bloc_compte .container table thead .commande_prix{
		
		font-weight: bold;
		font-size: 16px;
}


#bloc_compte .container table tbody{
	
	font-weight: 300;
/*	border-left: 1px gray dashed;
*/
}

#bloc_compte .container table tbody tr{
	
}


#bloc_compte .container table tbody tr td{

		padding: 15px 0;
		padding-left: 20px;
		font-weight: 300;
}

#bloc_compte #compte_infos{
	
	border-radius: 3px;
	padding: 20px;
	background-color: rgb(245,245,245);
}


#bloc_compte #compte_infos #infos_generales{

	border-bottom:1px solid rgb(200,200,200);
}


#bloc_compte #compte_infos #infos_generales strong{

	text-transform: uppercase;
	font-weight: bold;
}


#bloc_compte #compte_infos #adresse_livraison{

	margin-top: 50px;
	border-bottom:1px solid rgb(200,200,200);
	line-height: 1.5em;
	
}

#bloc_compte #compte_infos #adresse_facturation{
	
	margin-top: 50px;
	border-bottom:1px solid rgb(200,200,200);
	line-height: 1.5em;

}


#bloc_compte #compte_infos #modifier_infos{
	
	margin: 30px auto;
	width: 50%;
}

#bloc_compte #compte_infos #modifier_infos a{
	color: white;
	padding: 8px;
	text-align:center;
	font-size: 18px;
	display: block;
	width: 100%;
	height:100%;
	background-color: #e2c879;

}

#bloc_compte #compte_infos #modifier_infos a:hover{
	background-color: #f2dc9a;
}

/* -------- */










/***************************
	CONTACT
**************************/


#bloc_contact {
	background-color: white;
	z-index:-10 !important;
}

#bloc_contact .container {
	padding: 25px 10px;
}

#bloc_contact .container h3 {
	color: #e2c879;
	font-size: 26px;
	font-weight: 400;
	margin-bottom:40px;
}

#bloc_contact .container h4 {
	color: #1a465c;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 30px;
}

#bloc_contact .banniere_contact {
	position: relative;
}

#bloc_contact .banniere_contact img{
	width: 100%;
}

#bloc_contact .banniere_contact h1{

	position: absolute;
	bottom: 170px;
	left: 0;

	font-size: 40px;
	text-transform: uppercase;
	font-weight: 300;
	padding:5px 10px 5px 15px;

	color: rgb(35,35,35);
	background-color: rgba(255,255,255,0.6);
}

#bloc_contact textarea{
	max-width: 100%;
	min-width:100%;
}

#bloc_contact #contact_droite {
	border-radius: 3px;
	padding: 20px;
	background-color: rgb(245,245,245);
	height: auto;
}

#bloc_contact #mail_contact, #boutique_contact {
	border-top: 1px solid #e2c879;
}

#bloc_contact #mail_contact, #boutique_contact, #newsletter_contact, #rs_contact {
	padding-bottom: 20px;
}

#bloc_contact #contact_droite .facebook{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/fb.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#bloc_contact #contact_droite .twitter{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/tw.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#bloc_contact #contact_droite .pinterest{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/p.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#bloc_contact #contact_droite .instagram{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/in.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#bloc_contact #contact_droite .facebook:hover{
	background-image: url('../images/pictogrammes/fb_gris.png');
	background-size: 50px;
}

#bloc_contact #contact_droite .twitter:hover{
	background-image: url('../images/pictogrammes/tw_gris.png');
	background-size: 50px;
}

#bloc_contact #contact_droite .pinterest:hover{
	background-image: url('../images/pictogrammes/p_gris.png');
	background-size: 50px;
}

#bloc_contact #contact_droite .instagram:hover{
	background-image: url('../images/pictogrammes/in_gris.png');
	background-size: 50px;
}

/* -------- */


/***************************
	LOGIN
**************************/

.bloc_connexion {
	margin: 0;
	background-color:white;
}


.bloc_connexion form#formulaire input[type=submit] {
	padding: 5px 7px;
}

form#formulaire a#inscription_connex:hover {
	-webkit-transform: scale(1.02);
	background-color: #276b8c;
}		

	/* Formulaire */
	form#formulaire input#email_connexion {
		width: 200px;
		background: none;
	}

	form#formulaire input#pass_connexion {
		background: none;
		width: 200px;
	}

	form#formulaire fieldset#connexion {
		margin: 0;
		padding: 30px;
	}
	/* --- */

/* -------- */








/***************************
	FOOTER
**************************/

footer {
	width: 100%;
	text-align: center;

	background: url('../images/footer.jpg') no-repeat center;
	background-size: 100%;

	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisÃ©e */

	color:white;
	font-size: 13px;


}

footer .container{
	padding-top: 50px;
}

footer .container h6{

	text-transform: uppercase;
}

footer .container a:hover{

	color: rgb(200,200,200);
}


footer .container .facebook{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/fb_gris.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

footer .container .twitter{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/tw_gris.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

footer .container .pinterest{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/p_gris.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

footer .container .instagram{

	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-image: url('../images/pictogrammes/in_gris.png');
	background-size: 50px;
	float: left;

	margin-top: 20px;
	margin-right: 20px;

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

footer .container .facebook:hover{
	background-image: url('../images/pictogrammes/fb.png');
	background-size: 50px;
}

footer .container .twitter:hover{
	background-image: url('../images/pictogrammes/tw.png');
	background-size: 50px;
}

footer .container .pinterest:hover{
	background-image: url('../images/pictogrammes/p.png');
	background-size: 50px;
}

footer .container .instagram:hover{
	background-image: url('../images/pictogrammes/in.png');
	background-size: 50px;
}


footer .newsletter{
	background-color: gray;
	height: 150px;

	margin-top: 30px;
}

footer .newsletter h6{
	padding-top: 15px;
}
footer .newsletter input{

	color:gray;
}

footer .newsletter input{
	color: rgb(20,20,20);
}

footer .container #mentionslegales{

	border-top: 1px solid rgb(150,150,150);
	text-align: left;
	margin:0;
	padding:0;

	margin-top: 50px;
}

/*-FIN FOOTER-*/



/***************************
	FORMULAIRE
**************************/

form#formulaire h4 {
	font-weight: 400;
	color: #1a465c;
	font-size: 20px;
}

form#formulaire h5 {
	font-size: 20px;
	margin-bottom: 10px;
}

form#formulaire a {
	font-size: 14px;
	color: #3781b2;
	text-decoration: underline;
}

form#formulaire a:hover {
	font-size: 14px;
	color: #3781b2;
	text-decoration: underline;
}

form#formulaire legend {
	padding-right: 10px;
	padding-left: 10px;
}

form#formulaire fieldset {
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 20px;
	border-color: #1a465c;
}

form#formulaire span {
	display: none;
}

form#formulaire label {
	margin-right: 15px;
	display: block;
	width: 150px;
	float: left;
}

form#formulaire input {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
	width: 150px;
	border: 1px solid #dedede;
	color: #54555A;
	padding: 5px;
}

form#formulaire input:focus {
	outline: none;
}

form#formulaire input:required {
	background: url('../images/asterisk.png') 98% center no-repeat;
}

form#formulaire input:focus:invalid {
	border-color: #ff0000;
	background: url('../images/invalid.png') 98% center no-repeat;
	-webkit-box-shadow : (#d45252,0,0,5px);
}

form#formulaire input:focus:invalid + span {
	display: inline;
	color: #ff0000;
	margin-right: 10px;
}

form#formulaire input:focus:valid {
	border-color: #56c93f;
	background: url('../images/valid.png') 98% center no-repeat;
}

form#formulaire input:valid {
	border-color: #56c93f;
	background: url('../images/valid.png') 98% center no-repeat;
}

form#formulaire input[type=checkbox] {
	width: auto;
}

form#formulaire input[type=checkbox] {
	width: auto;
}

form#formulaire input[type=submit] {
	background: none;
	padding: 10px 5px;
	border: none;
	display: block;
	width: auto;
	height: auto;
	font-size: 20px;
	color: #fff;
	background-color: #e2c879;
	cursor: pointer;
	-webkit-transform: scale(1);
	transition: all 0.25s;
}

form#formulaire input[type=submit]:hover {
	-webkit-transform: scale(1.02);
	background-color: #f2dc9a;
}		

	/* CSS indépendant à chaque champs*/

	form#formulaire label.prenom {
	 	margin-right: 19px;
	}

	form#formulaire label.pass {
	 	width: 220px;
	}

	form#formulaire input#novify_modelbundle_signup_userCivilite_0 {
		margin-right: -265px;
	}

	form#formulaire input#novify_modelbundle_signup_userCivilite_1 {
		margin-right: -825px;
	}

	form#formulaire input#novify_modelbundle_signup_userMail {
		width: 200px;
	}

	form#formulaire input#tel {
		width: 130px;
	}

	form#formulaire input#rue {
		width: 250px;
	}

	form#formulaire input#postal {
		width: 85px;
	}

	form#formulaire input#creer_compte {
		margin-left: 70%;
		margin-bottom: 15px;
	}
	/* ---- */


/*- FIN FORMULAIRE -*/




/***************************
	MEDIA QUERIES
**************************/


@media only screen and (min-width: 1500px) {
		

	#carrousel #box { 
		height: 400px;
	}

}

@media only screen and (max-width: 1200px){
		
	nav {
		padding-left: 5%;
	}

	nav li a {
		min-width: 150px;
	}

}

@media only screen and (max-width: 991px){
		
	nav {
		padding-left: 0;
	}

	nav li a {
		min-width: 128px;
	}

	nav li ul li a {
		min-width: 128px;
	}

}

@media only screen and (max-width: 768px) {
		

	

	.news p, .coupcoeur p, .promo p, .top_ventes p {
		font-weight: 900;
		font-family: 'Roboto', sans-serif;
		opacity: 0.50;
		padding: 5px;
	}

	.news p {
		color:rgb(200,200,200);
		font-size: 40px;
		text-align: left;
		padding-top: 90px;
	}

	.coupcoeur p {
		font-size: 32px;
		text-align: left;
	}

	.promo p {
		color:rgb(10,10,10);
		padding:0px;
		background-color: rgba(255,255,255,0.7);
		margin-top: 7px;
		font-size: 49px;
		text-align: right;
	}

	.top_ventes p {
		color:rgb(200,200,200);
		margin-top: 0;
		font-size: 42px;
		text-align: center;
	}



	/*Menu pour Ipad & Iphone*/
		/*Style du menu horizontal*/
		ul {
			position: static;
			display: none;
		}
		/*Style du menu à la vertical*/
		li {
			margin-bottom: 1px;
		}

		li a {
			background: #2f3036;
			color: #f3f3f3;
		}

		/*Taille du menu en global*/
		ul li, li a {
			width: 100%;
		}
		/*Apparition du menu pour Ipad et Iphone*/
		.show-menu {
			display:block;
		}
	
	nav {
		padding: 0;
		height: 0px;
	}

	header .container {
		text-align: center;
	}

	#carrousel { 
		display:none;
	}

	.logo img {
	width: 54px;
	}

	.banniere_catalogue{display:none;}

	#bloc_catalogue .container .article p{
		/*Prix*/
		text-align: left;

	}

	#bloc_catalogue .container .article .article_image{

	height: auto;
	}


	#bloc_catalogue .container .article .article_image img{

		width: 100%;
	}

	#bloc_catalogue .container .pagination{

	text-align:left;
	}

	#bloc_panier {
		margin-top: 41px;
	}
}

/*-----*/




