{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




    <article>
        <div class="container catagories">
            <h1>Ajouter une catégorie</h1> <!-- Titre de la section -->
            
			{{ form(form) }}

        </div>
    </article>




{% endblock %}
