{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




    <article>
        <div class="container">
            <h1>Newsletter</h1> <!-- Titre de la section -->
            


            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client</th>
                        <th>Total</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>




                </tbody>

            </table>


        </div>
    </article>




{% endblock %}
