{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}
		<!-- Body -->

		<div id="bloc_catalogue">

			<!-- Image choisie par l'utilisateur et modifiable dans le back office -->
			<div class="banniere_catalogue"> <!-- Banniere a actualiser selon la catégorie -->
				<img src="{{ asset('bundles/novifyfront/images/banniere-livres.jpg')}}" alt="image_info_carousel">

				<div class="container"><!-- Fil d'ariane, liens et textes à générer depuis la bdd -->
					<h1><a href="#">Livres</a> > Comics</h1>
				</div>

			</div>

			<div class="container" style="width:100%">

				<!-- Ligne de tri et pagination -->
				<div class="row barre_tri"> <!-- Ligne de la barre de tri-->
					<div class="col-sm-2 col-xs-6"> <!-- Nombre d'articles sur la page-->
						17 articles
					</div>

					<div class="col-sm-8 col-xs-6"> <!-- Tri -->
						Du - au + cher
					</div>

					<div class="col-sm-2 col-xs-12 pagination"> <!-- Pagination -->
						<a href="#">1</a> - <span>2</span> - <a href="#">3</a>
					</div>
				</div>

				<!-- affichage en grille des articles -->


				<div class="row ligne_articles"> <!-- Ligne 1-->
					<div class="col-md-12">

						<div class="row">
{% for souscat in souscats %}
							<h2>{{ souscat.souscatNom }}</h2>
{{ render(controller('NovifyFrontBundle:Front:showArticles', { 'categorie': categorie.catNom, 'sousCategorie': souscat.souscatNom })) }}
{% endfor %}

						</div>

					</div>
				</div>


			</div>


		</div>
{% endblock %}
