{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}
	<!-- Body -->

		<!-- Carousel -->
		<div class="carousel">
			<img src="{{ asset('bundles/novifyfront/images/carousel1.png')}}" alt="image_info_carousel">
		</div>
		<!-- Fin Carousel -->

		<!-- Bloc -->
		<div class="bloc">
			<div class="container">
				<div class="row">

					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="news">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="coupcoeur">
								</div>
							</div>
							<div class="col-md-6">
								<div class="promo">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="top_ventes">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Fin Bloc -->
{% endblock %}
