*, html{
	margin:0;
	padding:0;
}


html, body{

	height:100%;
	width: 100%;
	color:black;
	font-family: 'Open Sans';
}

.container{
	width: 90%;
	margin: auto;
	background-color: white;
	margin-top: 40px;
	padding: 20px;
	border-radius: 3px;

}

.container_index{	

	width: 90%;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
}

.bloc_back_index {
	background-color:white;
	border-radius:5px;
	margin-bottom: 50px;
	padding-bottom: 15px;
}

.bloc_back_notif {
	border-radius:5px;
	margin-bottom: 50px;
	padding-bottom: 15px;
}

.bloc_back_notif table {
	background-color:white;
}

.ajouter {
	margin-top:50px;
	text-align:right;
}

.ajouter a{
	text-align: right;
	padding: 6px 7px;
	width: 100px;
	font-size: 20px;
	color: #fff;
	background-color: #e2c879;
	cursor: pointer;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.25s;
	text-decoration: none;
}

.ajouter a:hover{
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	background-color: #f2dc9a;
	color: #fff;
}

.ajouter a i{
	font-size: 22px;
	margin-top:-13px;
}


a {
	font-weight: 400;
	color: #3781b2;
	text-decoration: underline;
	transition: all 0.25s;
}

a:hover {
	color: #245580;
}

a#acces {
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	float: right;
	font-size: 18px;
	padding-top: 20px;
	padding-right: 20px;
	transition: all 0.45s;
	text-transform: none;
}

a#acces:hover {
	color: #e2c879;
}

/*Boutton modifier et supprimer*/

a.supprimer {
	text-decoration: none;
	display: inline-block;
	padding: 4px 0px;
	background-color: #c0392b;
	color: #fff;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
  	transition: all 0.25s;
  	width: 90px;
}

a.supprimer:hover {
	background-color: #e74c3c;
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
}

a.modifier {
	text-decoration: none;
	display: inline-block;
	padding: 4px 0px;
	background-color: #eb6700;
	color: #fff;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
  	transition: all 0.25s;
  	width: 75px;
}

a.modifier:hover {
	background-color: #ff9646;
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
}

p{
	font-size: 14px;
	font-weight: 400;
	color:rgb(70,70,70);
}

header{
	background-color:#1A465C;
	color:white;

}

header p{
	
	padding: 10px;
	margin-left: 30px;
	font-size: 18px;
	font-weight: 300;
	color: inherit;
	text-transform: uppercase;

}

header p a{
	display:inline;
	color: white;
	text-align: right;
}

section{
	width:100%;
	height:100%;
	display:table;
}

aside, article{display:table-cell}

/*Navigation*/
aside {
	background-color: rgb(50,50,50);
	width: 15%;
	height: 100%;
}

aside ul {
	width: 15%;
	position: absolute;
	padding: 20px 0;
}

aside ul li{

	display:block;
}

aside ul li a{
	
	text-decoration: none;
	color:white;
	display:block;
	padding: 10px 0px 10px 20px;
	background-color:rgb(50,50,50);
}

aside ul li a:hover{
	background-color:#e2c879;
	color:black;
	text-decoration: none;
}

aside ul li a i{
	margin-bottom:5px;
	margin-right: 6px;
}

/*Corps de page*/

article {
	width: 85%;
	background-color:rgb(235,235,235);
}

article h1{

	font-weight: 300;
	text-transform: uppercase;
	font-size: 24px;
	border-bottom:1px solid gray;
	margin-bottom: 30px;
}

article table{

	margin: 50px 0;
	padding: 0 30px;
	text-align:center;
	width: 100%;
	border-bottom: 1px solid rgb(180,180,180);
}

article table thead{
	
}


article table thead th{

	font-size:14px;
	font-weight: 400;
	width: 10%;
	text-transform: uppercase;	
	padding-bottom:30px;
}

article table tbody tr{
	font-weight: 300;
	padding:10px 0;
}

article table tbody tr td{padding:5px 0;}

article table tbody img{
	width: 50%;
}

	/*Corps de page (tableau de bord) - Partie droite */

	.info {
		padding: 20px;
		padding-top: 0;
		margin-left: 20px;
	}


	.info table {
		margin:0;
		text-align:left;
		border-bottom: 0px;
	}

	.info table thead {
		width: 100%;
	}

	.info table thead tr {
		width: 100%;
		background-color: #1a465c;
		color: white;
	}

	.info table thead th{
		font-size:17px;
		font-weight: 400;
		width: auto;
		text-transform: uppercase;	
		padding: 5px;
		vertical-align: middle;
	}

	.info table tbody tr {
		font-weight: 300;
		border: 1px solid #dddddd;
	}


	.info table tbody tr td {
		padding: 5px;
	}

	.info table tbody tr td a {
		text-decoration: none;
	}

	.info .nombre_notifs {
		background-color: rgb(50,50,50);
		color: #fff;
		text-align: center;
	}


/*Pour la page de modif des articles*/

article .article table thead th{
	width: 10%;

}


article .categories table thead th{
	width: 20%;

}

article .utilisateurs table thead th{
	width: 15%;
}













@media screen and (max-width: 750px){


	section{
		width:100%;
		height:100%;
		display:block;
	}

	aside, article{display:block}

	/*Navigation*/
	aside {
		background-color: rgb(50,50,50);
		width: 100%;
		height: 200px;
	}

	article{width:100%;}

	aside ul {
		width: 100%;
		position: absolute;
		padding: 20px 0;

	}

	aside ul li{
		
		display:inline;
		line-height: 70px;
	}

	aside ul li a{
		
		text-decoration: none;
		color:white;
		display:inline;
		padding: 10px 0px 10px 20px;
		background-color:rgb(50,50,50);
	}

	aside ul li a:hover{
		background-color:#e2c879;
		color:black;
		text-decoration: none;
	}

	aside ul li a i{
		margin-bottom:5px;
		margin-right: 6px;
	}

}




/***************************
	FORMULAIRE
**************************/

h4 {
	font-weight: 400;
	color: #1a465c;
	font-size: 20px;
}

form#formulaire h5 {
	font-size: 20px;
	margin-bottom: 10px;
}

form#formulaire a {
	font-size: 14px;
	color: #3781b2;
	transition: all 0.25s;
	text-decoration: underline;
}

form#formulaire a:hover {
	font-size: 14px;
	color: #245580;
	text-decoration: underline;
}

form#formulaire legend {
	padding-right: 10px;
	padding-left: 10px;
}

form#formulaire fieldset {
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 20px;
	border-color: #1a465c;
	max-width: 100%;
}

form#formulaire span {
	display: none;
}

form#formulaire label {
	margin-right: 15px;
	display: block;
	width: 150px;
	float: left;
}

form#formulaire input {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
	width: 150px;
	border: 1px solid #dedede;
	color: #54555A;
	padding: 5px;
}


form#formulaire input, form#formulaire textarea {
	max-width: 100%;
}

form#formulaire input:focus {
	outline: none;
}

form#formulaire input:required {
	background: url('../images/asterisk.png') 98% center no-repeat;
}

form#formulaire input:focus:invalid {
	border-color: #ff0000;
	background: url('../images/invalid.png') 98% center no-repeat;
	-webkit-box-shadow : (#d45252,0,0,5px);
	-moz-box-shadow : (#d45252,0,0,5px);
	-o-box-shadow : (#d45252,0,0,5px);
}

form#formulaire input:focus:invalid + span {
	display: inline;
	color: #ff0000;
	margin-right: 10px;
}

form#formulaire input:focus:valid {
	border-color: #56c93f;
	background: url('../images/valid.png') 98% center no-repeat;
}

form#formulaire input:valid {
	border-color: #56c93f;
	background: url('../images/valid.png') 98% center no-repeat;
}

form#formulaire input[type=radio] {
	float:left;
}

form#formulaire input[type=checkbox] {
	width: auto;
}

form#formulaire input[type=submit] {
	background: none;
	padding: 6px 6px;
	border: none;
	display: block;
	width: auto;
	height: auto;
	font-size: 20px;
	color: #fff;
	background: #e2c879;
	cursor: pointer;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.35s;
}

form#formulaire input[type=submit]:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	background: #f2dc9a;
}

	/* CSS indépendant à chaque champs*/

	form#formulaire label.cat {
	 	width: 250px;
	}

	form#formulaire label.art {
	 	width: 360px;
	}

	form#formulaire label.prix {
	 	margin-right: 53px;
	}

	form#formulaire label.ref {
	 	margin-right: 54px;
	}

	form#formulaire label.auteur {
	 	margin-right: 104px;
	}

	form#formulaire label.auteur, form#formulaire label.real, form#formulaire label.genre, form#formulaire label.duree {
	 	margin-right: 104px;
	}

	form#formulaire label.pages {
		width: 200px;
		margin-right: 53px;
	}

		/* catégorie */
		form#formulaire input#novify_modelbundle_categories_catBanniere {
			width: 100%;
		}
		/* ---- */

		/* carousel */
		form#formulaire input#novify_modelbundle_caroussel_carImg {
			width: 500px;
			max-width: 100%;
		}
		/* ---- */

		/* article */
		form#formulaire input#novify_modelbundle_articles_artNom {
			width: 350px;
			max-width: 100%;
		}

		form#formulaire input#novify_modelbundle_articles_artImg {
			width: 500px;
			max-width: 100%;
		}

		form#formulaire input#novify_modelbundle_articles_artPrix, 
		form#formulaire input#novify_modelbundle_articles_artRef, 
		form#formulaire input#novify_modelbundle_articles_artStock, 
		form#formulaire input#novify_modelbundle_articles_artPages, 
		form#formulaire input#novify_modelbundle_articles_artDuree, 
		form#formulaire input#novify_modelbundle_articles_artIsbn {
			width: 100px;
		}

		form#formulaire input#novify_modelbundle_articles_artStock:focus {
			background-image: none;
		}

		form#formulaire input#novify_modelbundle_articles_artPages:focus {
			background-image: none;
		}

		form#formulaire input#novify_modelbundle_articles_artPrix, 
		form#formulaire input#novify_modelbundle_articles_artRef, 
		form#formulaire input#novify_modelbundle_articles_artAuteur, 
		form#formulaire input#novify_modelbundle_articles_artRealisat, 
		form#formulaire input#novify_modelbundle_articles_artEditeur {
			margin-right: 100px;
		}

		form#formulaire input#novify_modelbundle_articles_artDuree, 
		form#formulaire input#novify_modelbundle_articles_artPages {
			margin-right: 150px;
		}

		form#formulaire textarea#novify_modelbundle_articles_artDescript {
			width: 500px;
			height: 120px;
			max-width: 100%;
		}

		form#formulaire textarea#novify_modelbundle_articles_artCasting {
			width: 500px;
			height: 80px;
			max-width: 100%;
		}

		form#formulaire textarea#novify_modelbundle_articles_artPublic {
			width: 500px;
			max-width: 100%;
		}
		/* ---- */

		form#formulaire input.non_obligatoire:valid {
			background: none;
			border: 1px solid #dedede;
		}

		form#formulaire input.non_obligatoire:focus:valid {
			border-color: #56c93f;
			background: url('../images/valid.png') 98% center no-repeat;
		}

		form#formulaire input.non_obligatoire:focus:valid + span {
			display: inline;
			color: #ff0000;
			margin-right: 10px;
		}

		form#formulaire input#novify_modelbundle_utilisateurs_userLivAdresse {
			width: 250px;
		}

		form#formulaire input#novify_modelbundle_utilisateurs_userLivCodep {
			width: 85px;
		}

		form#formulaire input#novify_modelbundle_utilisateurs_userFactAdresse {
			width: 250px;
		}

		form#formulaire input#novify_modelbundle_utilisateurs_userFactCodep {
			width: 85px;
		}

	/* Bouttons des formulaires */	
	form#formulaire input#valider_les_modifs {
		padding: 6px 9px;
	}

	form#formulaire input#valider {
		
	}
	/* ---- */

/*- FIN FORMULAIRE -*/

.info_form {
}

.info_restriction {
	width: 70%;
	display: inline-block;
}

fieldset {
	border-radius: 3px;
	background-color: rgb(245,245,245);
	padding: 20px;
	border-color: #1a465c;
	margin-bottom: 20px;
}

fieldset#form_art {
	background-color: #fff;
}

fieldset#restriction {
	border-color: #c0392b;
}

fieldset#restriction h4, fieldset#restriction p{
	color: #c0392b;
}

legend {
	padding: 0px 10px; 
}

p#ajouter_cat {
	float: right;
	display: inline;
}

form p {
	font-weight: 200;
	font-style: italic;
}

/*-- Fenêtre Pop-up Supprimer--*/
.white-popup {
	position: relative;
  	padding: 30px;
  	width: auto;
  	max-width: 550px;
  	margin: 20px auto;
	height: auto;
	color: #2f3036;
	font-size: 16px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid;
}

a.open-popup-link {
	text-decoration: none;
	display: inline-block;
	padding: 4px 0px;
	background-color: #c0392b;
	color: #fff;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
  	transition: all 0.25s;
  	width: 90px;
}

a.open-popup-link:hover {
	background-color: #e74c3c;
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
}

	#produit_popup .popup_header {
		border-bottom: #dedede 1px solid; 
		padding-bottom: 5px;
	}

	#produit_popup .popup_header h3 {
		color: #1a465c;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 400;
	}

	#produit_popup .popup_body {
		padding-top: 25px;
	}

	#produit_popup .popup_body h4 {
		display: inline;
		position: absolute;
		color: #1a465c;
		font-size: 20px;
		padding-left: 15px;
	}

	#produit_popup .popup_body h4#pad {
		padding-left: 0px;
	}

	#produit_popup .popup_body p {
		font-size: 16px;
		font-weight: 500;
		color: #c0392b;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	#produit_popup .popup_footer {
		padding-top: 10px;
		border-top: #dedede 1px solid;
		height: 40px;
	}

	#produit_popup .popup_footer a {
		display: block;
		text-align: center;
		padding: 5px 13px;
		width: auto;
		color: #fff;
		cursor: pointer;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transition: all 0.25s;
		text-decoration: none;
	}

	#produit_popup .popup_footer a:hover {
	  	-webkit-transform: scale(1.02);
	  	-moz-transform: scale(1.02);
	  	-o-transform: scale(1.02);
	}

	#produit_popup .popup_footer a#oui {
		background: #c0392b;
	}

	#produit_popup .popup_footer a#non {
		background: rgb(70,70,70);
	}

	#produit_popup .popup_footer a#oui:hover {
		background: #e74c3c;
	}

	#produit_popup .popup_footer a#non:hover {
		background: rgb(90,90,90);
	}

	a#retour {
		display: block;
		padding: 6px 8px;
		float: right;
		width: auto;
		color: #fff;
		font-size: 20px;
		cursor: pointer;
		background: rgb(70,70,70);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transition: all 0.35s;
		text-decoration: none;
		margin-top: 5px;
		margin-right: 20px;
	}

	a#retour:hover {
	  	-webkit-transform: scale(1.05);
	  	-moz-transform: scale(1.05);
	  	-o-transform: scale(1.05);
	  	background: rgb(90,90,90);
	}

	a#retourArt {
		display: block;
		padding: 6px 8px;
		float: right;
		width: auto;
		color: #fff;
		font-size: 20px;
		cursor: pointer;
		background: rgb(70,70,70);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transition: all 0.35s;
		text-decoration: none;
		margin-top: 5px;
		margin-right: 20px;
	}

	a#retourArt:hover {
	  	-webkit-transform: scale(1.05);
	  	-moz-transform: scale(1.05);
	  	-o-transform: scale(1.05);
	  	background: rgb(90,90,90);
	}

/* -- Fin Pop-up -- */
